$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$normal-font-size: 12pt;
$green: #10a28d;

#kiosk-container{

  #dashboard-header{
      background-color: $green;
      color: white;
      padding: 20px 100px;
  }

  #queue-list {
    h1 {
      text-align: center;
    }
  }

  button.modal-toggler{
    border: 2px solid;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
    background: none;
    font-size: 1.2 * $normal-font-size;
    &:hover{
      color: #5eebc0;
    }
  }

}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  div.content.container-fluid{
    margin-left: inherit;
    margin-right: inherit;
    padding: inherit;
  }
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 30px;
  padding-right: 30px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  > .navbar{
    margin-bottom: 0px;
    border-width: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .navbar-brand{
      padding-left:30px;
  }
  .container-fluid{
    background-color: white;
    height: 70px;
  }
  #dequeue-logo{
    width: 60px;
  }
  ul.nav{
    float: right;
  }
  .navbar-nav{
    font-size: $normal-font-size;
    margin-top: 12px;
    li a {
      border: 2px solid;
      border-radius: 3px;
      padding: 10px 15px;
      transition: all 0.3s ease-in-out;
      &:hover{
        color: #5eebc0;
      }
    }
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#login-container{
  padding: 100px 0;
  h2{
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group, .form-actions{
    margin-top: 20px;

    label{
      transition: transform 0.3s ease-in-out;
    }

    label, button, input{
      font-size: 1.2 * $normal-font-size;
    }

    input{
      padding: 25px 20px;
    }

    &:hover {
      & > input {
        border-color: #5eebc0;
      }

      & > label{
        transform: scale(1.1);
        color: #5eebc0;
      }
    }
  }
  .form-actions{
    text-align: center;
    button{
      border: 2px solid;
      border-radius: 3px;
      padding: 10px 30px;
      transition: all 0.3s ease-in-out;
      background: none;
      &:hover{
        color: #5eebc0;
      }
    }
  }
}

.content{
  .jumbotron{
    margin-bottom: 0px;
    border-radius: 0px;
    height: 560px;
    h2{
      font-size: 4em;
    }
  }
  .jumbotron#people-queue{
    background: {
      image: url("../images/people-queue-banner.jpg");
      size: cover;
      repeat: no-repeat;
    }
    .slogan{
      color: white;
      float: left;
      text-align: left;
      margin-top: 240px;
      h1{
        font-size: 6em;
      }
    }
  }

  .jumbotron#phone-demo{
    color: white;
    overflow: hidden;

    background: {
      image: url("../images/wallpaper-banner2.jpg");
      size: cover;
      repeat: no-repeat;
    }
    .col-md-8{
      img{
        width: 90%;
      }
    }
    .info{
      color: #606060;
      text-align: right;
      p{
        margin-top: 60px;
        font-size: 1.5 * $normal-font-size;
      }
    }
  }
}
#page-content{
  flex: 1;
}
/* Custom page footer */
.footer {
  padding: 20px 0;
  color: white;
  border-top: 1px solid #e5e5e5;
  background-color: #2B3442;
  border-width: 0px;
  font-weight: lighter;
  text-align: center;
  box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
