<div class="jumbotron" id="people-queue">
  <div class="slogan">
    <h1><strong>Too many queues</strong></h1>
    <h2>Don't waste your time!</h2>
  </div>
</div>
<div class="jumbotron" id="phone-demo">
  <div class="row">
    <div class="col-md-8">
      <img src="images/phones-banner2.png"/>
    </div>
    <div class="col-md-4 info">
      <h2>Scan QR and get your wait time</h2>
      <p>
        Dequeue works without downloading a mobile app. Just go to the link from the QR code to see how long you have to wait!
      </p>
    </div>
  </div>
</div>
